apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
    jsonData:
      timeInterval: '15s'

  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    database: jmeter
    user: admin
    secureJsonData:
      password: ${INFLUXDB_PASSWORD}
    jsonData:
      httpMode: POST

  - name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
    jsonData:
      maxLines: 1000
